#### Linux ####
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

#### Tizen IDE ####
/Debug
/SA_Report
/res
/Release
.sdk_delta.info
.sign/
.rds_delta
crash-info/
