.sign
crash-info
Debug
SA_Report
res
.package-stamp
.rds_delta
.sdk_delta.info
Release/

*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

.cproject
.project
